<!DOCTYPE html>
@*L14c2a Aqui colocamos todos os elementos comúns que queremos que teñas as vistas*@
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*L17c1 se colocan os link donde queremos que o noso anchor vaia
        Anchor: código de enlace de como vincular a unha página en HTML.*@
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Descargar pdf", "Index", "RetornoArchivo")</li>
                    <li>@Html.ActionLink("Peliculas CRUD", "Index", "Peliculas")</li>
                </ul>

                @Html.Partial("_LoginPartial")     @*L14c2b Sirve para cargar unha vista parcial*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody() @*L14c2c donde se carga a vista que generamos nese momento*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET!!!! LUME</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
