@*L19c1d DisplayTempletes para clase Pelicula*@
@model APLI_INTRO.Models.Pelicula

<div class="form-group">
    @Html.LabelFor(model=>model.Titulo):
    @Html.DisplayFor(model=>model.Titulo)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Duracion):
    @Html.DisplayFor(model => model.Duracion)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Publicacion):e
    @Html.DisplayFor(model => model.Publicacion)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Pais):
    @Html.DisplayFor(model => model.Pais)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.EstaEnCartelera):
    @Html.DisplayFor(model => model.EstaEnCartelera)
</div>